{% extends "template.html" %}
{% block content %}
<div class="table-responsive">
<table class="table" style="margin-top: 40px;">
  <thead>
    <tr>
      <th scope="col">S no.</th>
      <th scope="col">Sender</th>
      <th scope="col">Reciever</th>
      <th scope="col">Amount Transfered</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for item in result %}
    <tr>
      <th scope="row">{{ item.sno }}</th>
      <td>{{ item.send_name }}</td>
      <td>{{ item.receive_name }}</td>
      <td>{{ item.amount}}</td>
      <td>{{ item.date}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}